**/sonic-config.tar
**/asic_config_checksum
.vscode/settings.json
sopnode/terraform/.terraform.lock.hcl
sopnode/terraform/terraform.tfstate
sopnode/terraform/terraform.tfstate.backup
sopnode/terraform.tfstate
sopnode/terraform/openstack/.terraform/modules/modules.json
sopnode/terraform/openstack/.terraform/providers/registry.terraform.io/hashicorp/local/2.4.0/linux_amd64/terraform-provider-local_v2.4.0_x5
sopnode/terraform/openstack/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.51.1/linux_amd64/CHANGELOG.md
sopnode/terraform/openstack/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.51.1/linux_amd64/LICENSE
sopnode/terraform/openstack/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.51.1/linux_amd64/README.md
sopnode/terraform/openstack/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.51.1/linux_amd64/terraform-provider-openstack_v1.51.1
sopnode/terraform/openstack/.terraform.lock.hcl
sopnode/terraform/openstack/terraform.tfstate
sopnode/terraform/openstack/terraform.tfstate.backup
sopnode/terraform/modules/key/.terraform.lock.hcl
sopnode/terraform/.terraform/modules/modules.json
sopnode/terraform/.terraform/providers/registry.terraform.io/hashicorp/google/3.5.0/linux_amd64/terraform-provider-google_v3.5.0_x5
sopnode/terraform/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.51.1/linux_amd64/CHANGELOG.md
sopnode/terraform/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.51.1/linux_amd64/LICENSE
sopnode/terraform/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.51.1/linux_amd64/README.md
sopnode/terraform/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.51.1/linux_amd64/terraform-provider-openstack_v1.51.1
sopnode/terraform/gcp/.terraform/providers/registry.terraform.io/hashicorp/google/3.5.0/linux_amd64/terraform-provider-google_v3.5.0_x5
sopnode/terraform/gcp/.terraform/providers/registry.terraform.io/hashicorp/local/2.4.0/linux_amd64/terraform-provider-local_v2.4.0_x5
sopnode/terraform/gcp/.terraform.lock.hcl
sopnode/terraform/gcp/terraform.tfstate
sopnode/terraform/gcp/terraform.tfstate.backup
sopnode/terraform/modules/key/.terraform/modules/modules.json
sopnode/terraform/modules/key/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.51.1/linux_amd64/CHANGELOG.md
sopnode/terraform/modules/key/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.51.1/linux_amd64/LICENSE
sopnode/terraform/modules/key/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.51.1/linux_amd64/README.md
sopnode/terraform/modules/key/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.51.1/linux_amd64/terraform-provider-openstack_v1.51.1
