---
- name: Copy Kube config
  ansible.builtin.copy:
    src: '{{ kube_config_local_path }}'
    dest: ~/.kube/config

- name: Create kubeadm configuration
  ansible.builtin.template:
    src: kubeadm_config.yaml.j2
    dest: ./kubeadm_config.yaml

- name: Join k8s cluster
  shell: 'kubeadm join --config ./kubeadm_config.yaml'