---
- name: Add k8s APT key
  ansible.builtin.apt_key:
    url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
    state: present

#- name: Add k8s repository into sources list
#  ansible.builtin.apt_repository:
#    repo: deb https://apt.kubernetes.io/ kubernetes-xenial main
#    state: present
#    update_cache: true

- name: quick fix
  shell: mkdir -p /etc/apt/keyrings && curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.29/deb/Release.key |  gpg --batch --yes --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg ; echo 'deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.29/deb/ /' |  tee /etc/apt/sources.list.d/kubernetes.list; apt update -y

- name: Install k8s tools
  ansible.builtin.apt:
    name: '{{ item }}'
    allow_downgrade: yes
    autoclean: yes
    state: present
  with_items: '{{ k8s_tools }}'

- name: Create /var/lib/kubelet/ directory
  ansible.builtin.file:
    path: /var/lib/kubelet/
    state: directory

- name: Create /etc/kubernetes/manifests directory
  ansible.builtin.file:
    path: /etc/kubernetes/manifests
    state: directory
