installation:
  cni:
    type: Calico
{% if k8s.serviceSubnet is defined %}
  serviceCIDRs:
    - {{ k8s.serviceSubnet }}
{% endif %}
  calicoNetwork:   
    bgp: Disabled
    nodeAddressAutodetectionV4: 
{% if k8s.calico.nodeAddressAutodetectionV4 is defined %}
      {{ k8s.calico.nodeAddressAutodetectionV4 | to_yaml}}
{% else %}
      kubernetes: NodeInternalIP
{% endif %}
    ipPools:
    - cidr: '{{ k8s.podSubnet | default('10.244.0.0/16') }}'
      encapsulation: {{ k8s.calico.encapsulation | default('VXLAN') }}
