{
{% for key, value in docker.items() %}
{% if key == 'insecure_registries' %}
  "insecure-registries": {{ value | tojson }}
{% endif %}
{% if key == 'registry_mirrors' %}
  "registry-mirrors": {{ value | tojson }}
{% endif %}
{% if key == 'data_root' %}
  "data-root": {{ value | tojson }}
{% endif %}
{% if not loop.last %}
  ,
{% endif %}
{% endfor %}
}
