apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
nodeRegistration:
  name: "{{ hostvars[inventory_hostname]['xx-name'] }}"
  criSocket: "{{ runtime[k8s.runtime].cri.socket }}"
  kubeletExtraArgs:
    enable-controller-attach-detach: "false"
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ k8s.controlPlaneEndpoint }}"
    token: '{{ token }}'
    caCertHashes:
    - '{{ ca_cert_hash }}'
{% if control_plane_node is defined and control_plane_node %}
controlPlane:
{% if k8s.apiserver_advertise_address is defined or hostvars[inventory_hostname]['xx-local-ip'] is defined %}
  localAPIEndpoint:
    advertiseAddress: "{{ k8s.apiserver_advertise_address | default( hostvars[inventory_hostname]['xx-local-ip'] )}}"
{% endif %}
  certificateKey: "{{ certificate_key }}"
{% endif %}
