apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
nodeRegistration:
  name: "{{ hostvars[inventory_hostname]['xx-name'] }}"
  criSocket: "{{ runtime[k8s.runtime].cri.socket }}"
  kubeletExtraArgs:
    enable-controller-attach-detach: "false"
discovery:
  bootstrapToken:
{% if k8s.controlPlaneEndpoint is defined %}
    apiServerEndpoint: "{{ k8s.controlPlaneEndpoint }}"
{% else %}
    apiServerEndpoint: "{{ hostvars[groups['masters'][0]]['xx-local-ip'] }}:6443"
{% endif %}
    token: '{{ token }}'
    caCertHashes:
    - '{{ ca_cert_hash }}'
{% if control_plane_node is defined and control_plane_node %}
controlPlane:
{% if k8s.apiserver_advertise_address is defined or hostvars[inventory_hostname]['xx-local-ip'] is defined %}
  localAPIEndpoint:
    advertiseAddress: "{{ k8s.apiserver_advertise_address | default( hostvars[inventory_hostname]['xx-local-ip'] ) }}"
{% endif %}
  certificateKey: "{{ certificate_key }}"
{% endif %}
---
kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
cgroupDriver: systemd
cpuManagerPolicy: none
reservedSystemCPUs: 0-1
CPUManagerPolicyOptions: false
memorySwap: {}
failSwapOn: false
containerLogMaxSize: 50Mi

