default-lease-time              180;
max-lease-time                  300;

{% for prefix in db.prefixes %}
{% if prefix.is_pool %}
subnet {{ prefix.prefix | ansible.utils.ipaddr('network') }} netmask {{ prefix.prefix | ansible.utils.ipaddr('netmask') }} {
  {% for range in prefix.ranges %}
    range {{ range.start_address}} {{ range.end_address }};
  {% endfor %}
}
{% endif %}
{% endfor %}


{% for device in db.devices.values() %}
{% for interface in device.interfaces %}
{%if interface.ip_addresses | length == 1 %}
host {{ device.name }}-{{ interface.ifname | regex_replace('\s+', '_')}} {
  hardware ethernet {{ interface.mac }};
  fixed-address {{ interface.ip_addresses | first | regex_replace('\/\d+', '') }};
}
{% endif %}
{% endfor %}
{% endfor %}
