default-lease-time              180;
max-lease-time                  300;

{% for prefix in db.prefixes %}
{% if prefix.is_pool %}
subnet {{ prefix.prefix | ansible.utils.ipaddr('network') }} netmask {{ prefix.prefix | ansible.utils.ipaddr('netmask') }} {
  {% for range in prefix.ranges %}
    range {{ range.start_address}} {{ range.end_address }};
  {% endfor %}
}
{% endif %}
{% endfor %}

{% for item in db.interfaces %}

{%if item.interface.addresses | length == 1 %}
host {{ item.name }}-{{ item.interface.ifname }} {
  hardware ethernet {{ item.interface.mac }};
  fixed-address {{ item.interface.addresses | first | regex_replace('\/\d+', '') }};
}
{% endif %}
{% endfor %}
