port 1194
proto udp

dev tun

ca ca.crt
cert server.crt
key server.key  # This file should be kept secret

dh none

topology subnet
push "topology subnet"

server {{ openvpn.server.server.network }} {{ openvpn.server.server.subnet }}

ifconfig-pool-persist /var/log/openvpn/ipp.txt

{% for route in openvpn.server.routes %}
push "route {{ route.network }} {{ route.subnet }}"
{% endfor %}

client-config-dir /etc/openvpn/client/

client-to-client

keepalive 10 120

tls-crypt ta.key

cipher AES-256-GCM
auth SHA256

user nobody
group nogroup

persist-key
persist-tun

status /var/log/openvpn/openvpn-status.log

log-append  /var/log/openvpn/openvpn.log

verb 3

explicit-exit-notify 1