set_var EASYRSA_REQ_COUNTRY    "FR"
set_var EASYRSA_REQ_PROVINCE   "Alpes Maritimes"
set_var EASYRSA_REQ_CITY       "Sophia Antipolis"
set_var EASYRSA_REQ_ORG        "SLICES"
set_var EASYRSA_REQ_EMAIL      "damien.saucez@inria.fr"
set_var EASYRSA_REQ_OU         "sopnode"
set_var EASYRSA_ALGO           "ec"
set_var EASYRSA_DIGEST         "sha512"